<!Doctype html>
<html>
  <head>
    <meta charset="utf-8"   />
    <title>뜨는 동영상</title>
  </head>
  <body>
    <h2>원하는 동영상을 입력해주세요</h2>
    <form action='/movie'>
      <input type='text' name='moviename'/>
      <input type='submit' name='슝~'/>
  </form>
  </body>
</html>
