<form action="/christresult">
  <input name='name' /><br />
  남자 <input type='radio' name='gender' value ='1' /><br />
  여자 <input type='radio' name='gender' value ='2' /><br />
  <input type='submit' value='ㄱㄱ' />
</form>
