<!Doctype HTML>
<html>
  <head>
    <title> 아무말이나 쳐볼게요 </title>
  </head>


  <body>
    <% if @name == 'gira' %>
    <h1>사랑하는 <%= @name %>!!!!!!!!!!welcome!!!!!!!!!</h1>
    <% else %>
    <h1><%= @name %>!!!!!!!!!!welcome!!!!!!!!!</h1>
    <% end %>

  </body>
<html>
