<h3>여기에 글 쓰기</h3>
  <form action='/post/create'>
  쓰니 : <input type = "text" name = "username" /> <br />
  <br />
  제목 :   <input type = "text" name = "title" /><br />
  <br />
  내용 :   <textarea name ='content'></textarea>
  <br />
  </br>
  <input type = "submit" value = "완료" />
  </form>
